# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.cache

*.pdf

# Jekyll
vendor
_site
.jekyll-cache

# 個人情報を含むファイルを除外
docs/README.md
docs/README.pdf

# Google Drive API credentials
service-account.json
.env
